li {
  color: white;
}

.img {
  height: 330px;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
}

body {
  overflow: hidden;
}

.fixed-page {
  position: fixed;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {

  .fixed-page {
      position: relative!important;
  }
}