<div class="container-fluid fixed-page">
    <div class="container" *ngIf="character">
        <div class="row">
            <h1 class="starWars text-white animate__animated animate__zoomIn">{{ character.name }}</h1>
        </div>
        <div class="row ">
            <div class="col-md-6 pt-4 animate__animated animate__fadeInLeft">
                <img [src]="character.imageUrl" class="img" alt="Imagen del personaje">
            </div>
            <div class="col-md-6 pt-4 animate__animated animate__fadeInRight">
                <table class="table table-dark">
                    <tbody>
                        <tr>
                            <th scope="row">Nombre</th>
                            <td>{{ character.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Altura</th>
                            <td>{{ character.height }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Masa</th>
                            <td>{{ character.mass }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Color de cabello</th>
                            <td>{{ character.hair_color }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Color de piel</th>
                            <td>{{ character.skin_color }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Color de ojos</th>
                            <td>{{ character.eye_color }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Año de nacimiento</th>
                            <td>{{ character.birth_year }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Género</th>
                            <td>{{ character.gender }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
