<div class="container-fluid p-0 m-0">
  <!-- Introduccion -->
  <div class="container p-4">
    <h1 class="starWars animate__animated animate__zoomIn">Prueba para catalyst</h1>
  </div>
  <div class="gray-space p-3">
    <h6 class="name p-0 m-0">Por Montse Martínez</h6>
  </div>
  <!-- Carrusel -->
  <div class="row p-0 m-0">
    <div id="carouselExampleControls" class="p-0 m-0 carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-overlay img_carrusel"
            style="background-image: url('assets/carrusel/banner4.jpg'); height: 400px; position: relative;">
            <h2 class="starWars text-white"
              style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 900;">Conoce a
              los <br> personajes que amamos</h2>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-overlay img_carrusel"
            style="background-image: url('assets/carrusel/banner1.jpg'); height: 400px; position: relative;">
            <h2 class="starWars text-white"
              style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 900;">Conoce a
              los <br> personajes que amamos</h2>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-overlay img_carrusel"
            style="background-image: url('assets/carrusel/mando.jpg'); height: 400px; position: relative;">
            <h2 class="starWars text-white"
              style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 900;">Conoce a
              los <br> personajes que amamos</h2>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>
  </div>

  <!-- Cards de personajes -->
  <div class="container">
    <div class="row pt-4">
      <h2 class="starWars text-white">Personajes</h2>
    </div>
    <div class="row pt-4">
      <div class="col-md-12">
        <input type="text" class="form-control mb-4" placeholder="Escribe el nombre del personaje"
          (input)="applyFilter()" [(ngModel)]="searchText">
      </div>
    </div>
    <div class="row pb-5 pt-5">
      <div class="col-md-4 justify-content-center d-flex" *ngFor="let item of filteredData; let i = index">
        <div class="card p-4"
          style="width: 18rem;background-position: center;background-image: url('assets/space.gif');">
          <div class="card-body">
            <div class="row pb-4">
              <img [src]="item.imageUrl" alt="img-personajes" class="rounded-image">
            </div>
            <div class="row">
              <h5 class="card-title text-center starWars text-white">{{ item.name }}</h5>
            </div>
            <div class="row pt-3">
              <button type="button" class="btn btn-primary my_btn" (click)="openModal(item)" data-toggle="modal"
                data-target="#informacionRapidaModal">Ver detalle</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin cards de personajes -->
  <!-- Modal -->
  <div class="modal fade" id="informacionRapidaModal" tabindex="-1" role="dialog"
    aria-labelledby="informacionRapidaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="background-color: #1d1e1f!important;">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title starWars" id="informacionRapidaModalLabel">Detalles generales del personaje</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <ng-container *ngIf="selectedCharacter">
            <p>Nombre: {{ selectedCharacter.name }}</p>
            <p>Genero: {{ selectedCharacter.gender }}</p>
            <p>Año de nacimiento: {{ selectedCharacter.birth_year }}</p>
            <button class="btn btn-primary my_btn" (click)="openFichaTecnica()">
              Ver ficha técnica
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin modal -->
  