h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}

.div_tittle {
    width: 100%;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    padding: 20px;
}

.gray-space {
    background-color: #0a0b0b;
    border-top: 1px solid gray;
    width: 100%;
}